<!doctype html>
<html ng-app="perspective">
<head>
	<title>Perspectives</title>

	<script type="text/javascript" src="js/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.event.move.js"></script>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/hammer.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.hammer.min.js"></script>
	<script type="text/javascript" src="js/lib/three.min.js"></script>
	<script type="text/javascript" src="js/lib/three.trackballcontrols.js"></script>
	<script type="text/javascript" src="js/lib/xbps-min-0.8.js"></script>
	<script type="text/javascript" src="js/ImageParser.js"></script>
	<script type="text/javascript" src="js/lib/OrbitCam.js"></script>

	<script type="text/javascript" src="js/perspectives/perspective.js"></script>

	<link rel="stylesheet" type="text/css" href="css/perspective.css" />
</head>
<body ng-controller="PerspectiveCtrl">
	<div class="container">
		<canvas id="canvas" width="1800" height="750"></canvas>
	</div>
	<div class="images">
		<div class="image-container" ng-repeat="image in images">
			<img src="/mages/{{image}}" width="300" height="200" ng-click="load(image)" />
		</div>
	</div>

	<script type="x-shader/x-fragment" id="fragmentShader">
	#ifdef GL_ES
	precision highp float;
	#endif

	varying vec4 frontColor;
	void main(void) {
		gl_FragColor = frontColor;
	}
	</script>

	<script type="x-shader/x-vertex" id="vertexShader">
	varying vec4 frontColor;

	attribute vec3 ps_Vertex;
	attribute vec4 ps_Color;

	uniform float ps_PointSize;
	uniform vec3 ps_Attenuation;

	uniform mat4 ps_ModelViewMatrix;
	uniform mat4 ps_ProjectionMatrix;

	uniform float time;

	void main(void) {
		frontColor = ps_Color;
		vec3 pos = ps_Vertex;
		pos[2] = pos[2] + sin(time * cos(pos[2] - pos[0] - pos[1])) * 5.0;
		vec4 ecPos4 = ps_ModelViewMatrix * vec4(pos, 1.0);

		float dist = length(ecPos4);
		float attn = ps_Attenuation[0] +
					(ps_Attenuation[1] * dist) +
					(ps_Attenuation[2] * dist * dist);

		gl_PointSize = (attn > 0.0) ? ps_PointSize * sqrt(1.0/attn) : 1.0;
		gl_Position = ps_ProjectionMatrix * ecPos4;
	}
	</script>
</body>
</html>